#nameImg {
    width: 335px;
}
.section:hover .section-header {
    letter-spacing: 10px;
}
.c-tbl {
    display: table;
    margin: initial;
}
#contact div.section-body {
    height: 300px;
}
#contactWrapper {
    min-width: initial;
}
.footer-part {
    display: block;
}
.section-body {
    padding-left: 20px;
}
