body {
    background-color: #2c2c2c;
    overflow: hidden;
}
.fwrap {
    perspective: 1000px;
    font-family: consolas;
    float: left;
    width: 10%;
    height: 16.66666666666666%;
}
.flatten {
    perspective: none;
}
.fwrap.hovera .flip {
    transform-origin: right center;
    transform: translateX(-100%) rotateY(-180deg);
}
.fwrap.hoverb .flip {
    transform-origin: left center;
    transform: translateX(100%) rotateY(180deg);
}
.fwrap.hoverc .flip {
    transform-origin: right center;
    transform: translateX(-100%) rotateY(180deg);
}
.fwrap.hoverd .flip {
    transform-origin: left center;
    transform: translateX(100%) rotateY(-180deg);
}
.flip {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
    background: blue;
    background-size: cover;
    background-repeat: no-repeat;
}
.back {
    transform: rotateY(180deg);
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
}
bbsite {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    transition: 1s;
    background: #2c2c2c;
}
#outerTileWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#tileWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}
#tileWrapper:after {
    padding-top: 60%;
    display: block;
    content: '';
}
#siteWrapper {
    border: 12px black solid;
}
#innerTileWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#name {
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
}
.media {
    background-repeat: no-repeat;
    background-image: url("/media.png");
    height: 64px;
    width: 64px;
    display: inline-block;
    margin: 0 10px 0 10px;
    cursor: pointer;
    pointer-events: visible;
    transition: 1s;
    filter: opacity(50%);
}
.media:hover {
    filter: opacity(100%);
}
#media-git {
    background-position: 0 0;
}
#media-twitter {
    background-position: -64px 0;
}
#media-linkedin {
    background-position: -128px 0;
}
#media-mail {
    background-position: -192px 0;
}
#mediaWrapper {
    min-width: 348px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#resumeWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 235px;
}
#resumeButton {
    width: 158px;
    height: 32px;
    background-position: 0 -64px;
}
#resumePDF {
    width: 32px;
    height: 32px;
    background-position: -225px -96px;
}
.section {
    width: 100%;
}
#footer.section {
    font-family: "Gurajada", "Consolas", monospace, serif;
    font-size: 20px;
    text-align: center;
    background: #1a1a1a;
    color: #bfbfbf;
    border-top: 3px solid #bfbfbf;
}
a.betterlink {
    text-decoration: none;
    color: #bfbfbf;
}
a.betterlink:hover {
    color: #d2d0d0;
}
.media-footer {
    height: 32px;
    background-image: url("/media.png");
    display:inline-block;
    transition: 1s;
}
.media-footer:hover {
    filter: sepia(100%);
}
#media-footer-digitalocean {
    background-position: -193px -64px;
    width: 58px;
}
#media-footer-git {
    background-position: 0 -96px;
    width: 33px;
}
.footer-raise {
    display: inline-block;
    transform: translateY(-20%);
    padding-right: 10px;
    padding-left: 20px;
}
.section-component {
    display: block;
    font-family: Arial;
}
.section-header {
    color: #f0f0f0;
    font-size: 27px;
    letter-spacing: 4px;
    padding: 40px 0 10px 55px;
    transition: 1.5s;
}
.section-body {
    color: #bfbfbf;
    padding: 0 20px 40px 200px;
}
.section:hover .section-header {
    color: #f3c9fe;
    letter-spacing: 20px;
}
.separate {
    border: none;
    height: 6px;
    background: #bfbfbf;
    width: 80%;
}
#nameImg {
    padding-left: 6px;
}
.c-tbl-data {
    transition: 1s;
}
.c-tbl tr:hover div {
    filter: sepia(100%);
    cursor: pointer;
}
.c-tbl {
    display: inline-table;
    margin-right: 20px;
    margin-left: 20px;
}
.c-tbl td {
    padding: 5px 10px 5px 10px;
}
.c-tbl a {
    text-decoration: none;
    color: #bcbcbc !important;
}
.c-tbl-img {
    width: 32px;
    height: 32px;
    background-image: url("/media.png");
    transition: 1s;
}
#c-phone {
    background-position: -193px -96px;
}
#c-email {
    background-position: -161px -96px;
}
#c-linkedin {
    background-position: -129px -96px;
}
#c-twitter {
    background-position: -97px -96px;
}
#c-github {
    background-position: -65px -96px;
}
#c-resume {
    background-position: -33px -96px;
}
.centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#contact div.section-body {
    height: 160px;
}
#contactWrapper {
    min-width: 500px;
}
#contactInfo {
    min-width: 130px;
}
.footer-part {
    display: inline-block;
}
.ed-part, .ex-part {
    border: 2px solid #bcbcbc;
    border-radius: 23px;
    display: inline-block;
    width: 85%;
    transition: 1s;
    margin: 10px 0 10px 17px;
}
.ed-part:hover, .ex-part:hover {
    background: #4b4949;
}
.ed-part div, .ex-part div {
    padding: 4px 20px;
}
.ed-part-name, .ex-part-name {
    color: #dadada;
    font-size: 23px;
}
.ed-part-date, .ex-part-date {
    margin-top: 10px;
    font-style: italic;
    color: #9a9898;
}
.ed-part-school, .ex-part-role {
    margin-bottom: 10px;
    color: #9a9898;
}
#education:hover .ed-part,
#experience:hover .ex-part,
#skillset:hover .s-part-title-border {
    border-color: #f3c9fe;
}
#about:hover strong {
    color: #f3c9fe;
}
.ex-part-name {
    margin-top: 10px;
}
.ex-part-date {
    margin-top: 0;
}
.ex-part-role {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 19px;
}
.ex-part-role i {
    font-size: 15px;
}
.languageIcon {
    background-image: url("/media.png");
    height: 32px;
    width: 32px;
    left: -50%;
    transform: translateX(-50%);
}
#icon-javascript {
    background-position: 0 -128px;
}
#icon-jquery {
    background-position: -32px -128px;
}
#icon-nodejs {
    background-position: -64px -128px;
    width: 28px;
}
#icon-php {
    background-position: -92px -128px;
    width: 63px;
}
#icon-html {
    background-position: -155px -128px;
    width: 28px;
}
#icon-css {
    background-position: -183px -128px;
    width: 28px;
}
#icon-md {
    background-position: 0 -160px;
    width: 51px;
}
#icon-bash {
    background-position: -51px -160px;
}
#icon-python {
    background-position: -83px -160px;
}
#icon-c {
    background-position: -115px -160px;
}
#icon-cpp {
    background-position: -147px -160px;
    width: 29px;
}
#icon-java {
    background-position: -176px -160px;
    width: 24px;
}
#icon-sqlite {
    background-position: -199px -160px;
    width: 26px;
    margin-right: 37px;
}
#icon-redis {
    background-position: -211px -128px;
    width: 37px;
}
#icon-ubuntu {
    background-position: -225px -160px;
    margin-right: 31px;
}
#icon-osx {
    background-position: -32px -192px;
}
#icon-centos {
    background-position: 0 -192px;
}
#icon-windows {
    background-position: -64px -192px;
}
#icon-gimp,
#media-footer-gimp {
    background-position: -96px -192px;
    width: 51px;
    margin-right: 12px;
}
#icon-git {
    background-position: -147px -192px;
}
#icon-atom,
#media-footer-atom {
    background-position: -158px -64px;
    width: 35px;
}
#icon-vim {
    background-position: -179px -192px;
    margin-right: 31px;
}
.right {
    text-align: right;
    padding-right: 38px;
}
.progressShell {
    width: 100%;
    height: 13px;
    background: #444;
}
.progressBar {
    height: 100%;
    background: #bcbcbc;
}
.s-tbl {
    margin-right: 10%;
}
.s-tbl tr {
    transition: 1s;
}
.s-part {
    width: 100%;
}
.s-part-title, .s-part-alt-title {
    font-variant: small-caps;
    font-size: 27px;
    letter-spacing: 2px;
}
.s-part-title {
    padding-right: 15px;
    width: 208px;
    text-align: right;
}
.s-part-title-col {
    width: 133px;
}
.s-part-alt-title {
    display: none;
    width: 100%;
    text-align: center;
}
.s-part-title-cell {
    position: relative;
}
.s-part-title-border {
    width: 7px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #bcbcbc;
    border-right: none;
    transition: 1s;
}
.s-tbl tr:hover {
    filter: sepia(100%);
}
#skillset .section-body {
    padding-left: 50px;
}
#about strong {
    color: #dadada;
    transition: 1s;
}
#about .section-body {
    font-size: 23px;
    margin-right: 120px;
}
