body {
    background-color: #2c2c2c;
    overflow: hidden;
}
.fwrap {
    -webkit-perspective: 1000px;
            perspective: 1000px;
    font-family: consolas;
    float: left;
    width: 10%;
    height: 16.66666666666666%;
}
.flatten {
    -webkit-perspective: none;
            perspective: none;
}
.fwrap.hovera .flip {
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transform: translateX(-100%) rotateY(-180deg);
            transform: translateX(-100%) rotateY(-180deg);
}
.fwrap.hoverb .flip {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: translateX(100%) rotateY(180deg);
            transform: translateX(100%) rotateY(180deg);
}
.fwrap.hoverc .flip {
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transform: translateX(-100%) rotateY(180deg);
            transform: translateX(-100%) rotateY(180deg);
}
.fwrap.hoverd .flip {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: translateX(100%) rotateY(-180deg);
            transform: translateX(100%) rotateY(-180deg);
}
.flip {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}
.front,
.back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    background: blue;
    background-size: cover;
    background-repeat: no-repeat;
}
.back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    -webkit-transition: 1s;
    transition: 1s;
    background: #2c2c2c;
}
#outerTileWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 600px;
}
#tileWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}
#tileWrapper:after {
    padding-top: 60%;
    display: block;
    content: '';
}
#siteWrapper {
    border: 12px black solid;
}
#innerTileWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#name {
    pointer-events: none;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
}
.media {
    background-repeat: no-repeat;
    background-image: url("/media.webp");
    height: 64px;
    width: 64px;
    display: inline-block;
    margin: 0 10px 0 10px;
    cursor: pointer;
    pointer-events: visible;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-filter: opacity(50%);
            filter: opacity(50%);
}
.media:hover {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
}
#mediaWrapper {
    min-width: 348px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
#resumeWrapper {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 236px;
}
.section {
    width: 100%;
}
#footer.section {
    font-family: "Gurajada", "Consolas", monospace, serif;
    font-size: 20px;
    text-align: center;
    background: #1a1a1a;
    color: #bfbfbf;
    border-top: 3px solid #bfbfbf;
}
a {
    text-decoration: none;
}
a.betterlink {
    text-decoration: none;
    color: #bfbfbf;
}
a.betterlink:hover {
    color: #d2d0d0;
}
.media-footer {
    height: 32px;
    background-image: url("/media.webp");
    display:inline-block;
    -webkit-transition: 1s;
    transition: 1s;
}
.media-footer:hover {
    -webkit-filter: sepia(100%);
            filter: sepia(100%);
}
.footer-raise {
    display: inline-block;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    padding-right: 10px;
    padding-left: 20px;
}
.section-component {
    display: block;
    font-family: "Oxygen", sans-serif;
}
.section-header {
    color: #f0f0f0;
    font-size: 27px;
    letter-spacing: 6px;
    padding: 40px 0 10px 55px;
    -webkit-transition: 1.5s;
            transition: 1.5s;
    display: inline-block;
    position: relative;
}
.section-header span {
    letter-spacing: 0;
}
.section-body {
    color: #bfbfbf;
    padding: 0 20px 10px 200px;
}
.section-header:after {
    content: '';
    display: block;
    margin: auto;
    height: 4px;
    width: 0px;
    background: transparent;
    -webkit-transition: width 1s ease, background-color 1s ease;
    transition: width 1s ease, background-color 1s ease;
}
.section:hover .section-header:after {
    width: 100%;
    background: #f3c9fe;
}
.section:hover .section-header {
    color: #f3c9fe;
}
.separate {
    border: none;
    height: 6px;
    background: #bfbfbf;
    width: 80%;
}
#nameImg {
    padding-left: 6px;
    width: 712px;
}
.c-tbl-data {
    -webkit-transition: 1s;
    transition: 1s;
}
.c-tbl tr:hover div {
    -webkit-filter: sepia(100%);
            filter: sepia(100%);
    cursor: pointer;
}
.c-tbl {
    display: inline-table;
    margin-right: 20px;
    margin-left: 20px;
}
.c-tbl td {
    padding: 5px 10px 5px 10px;
}
.c-tbl a {
    text-decoration: none;
    color: #bcbcbc !important;
}
.c-tbl-img {
    width: 32px;
    height: 32px;
    background-image: url("/media.webp");
    -webkit-transition: 1s;
    transition: 1s;
}
.centerX {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
#contact div.section-body {
    height: 160px;
    padding-bottom: 54px;
}
#contactWrapper {
    min-width: 500px;
}
#contactInfo {
    min-width: 130px;
}
.footer-part {
    display: inline-block;
}
.ed-part,
.ex-part,
.v-part,
.p-part {
    border: 2px solid #bcbcbc;
    border-radius: 23px;
    display: inline-block;
    width: 85%;
    -webkit-transition: 1s;
    transition: 1s;
    margin: 10px 0 35px 17px;
}
.ed-part:hover,
.v-part:hover,
.ex-part:hover,
.p-part:hover {
    background: #4b4949;
}
.ed-part div,
.v-part div,
.ex-part div,
.p-part div {
    padding: 4px 20px;
}
.ed-part-name,
.v-part-name,
.p-part-name,
.ex-part-name {
    color: #dadada;
    font-size: 23px;
}
.ed-part-date,
.v-part-date,
.p-part-date,
.ex-part-date {
    margin-top: 10px;
    font-style: italic;
    color: #9a9898;
}
.ed-part-school,
.v-part-role,
.p-part-desc,
.ex-part-role {
    margin-bottom: 10px;
    color: #9a9898;
}
#education:hover .ed-part,
#experience:hover .ex-part,
#volunteer:hover .v-part,
#projects:hover .p-part,
#skillset:hover .s-part-title-border {
    border-color: #f3c9fe;
}
#about:hover strong {
    color: #f3c9fe;
}
.v-part-name,
.p-part-name,
.ex-part-name {
    margin-top: 10px;
}
.v-part-date,
.p-part-date,
.ex-part-date {
    margin-top: 0;
}
.v-part-role,
.p-part-desc,
.ex-part-role {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 19px;
}
.v-part-role i,
.p-part-desc i,
.ex-part-role i {
    font-size: 15px;
}
.languageIcon {
    background-image: url("/media.webp");
    height: 32px;
    width: 32px;
    left: -50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.right {
    text-align: right;
    padding-right: 38px;
}
.progressShell {
    width: 100%;
    height: 13px;
    background: #444;
}
.progressBar {
    height: 100%;
    background: #bcbcbc;
}
.s-tbl {
    margin-right: 10%;
}
.s-tbl tr {
    -webkit-transition: 1s;
    transition: 1s;
}
.s-part {
    width: 100%;
    padding-bottom: 32px;
}
.s-part-title,
.s-part-alt-title {
    font-variant: small-caps;
    font-size: 27px;
    letter-spacing: 2px;
}
.s-part-title {
    padding-right: 15px;
    width: 208px;
    text-align: right;
}
.s-part-title-col {
    width: 133px;
}
.s-part-alt-title {
    display: none;
    width: 100%;
    text-align: center;
}
.s-part-title-cell {
    position: relative;
}
.s-part-title-border {
    width: 7px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #bcbcbc;
    border-right: none;
    -webkit-transition: 1s;
    transition: 1s;
}
.s-tbl tr:hover {
    -webkit-filter: sepia(100%);
            filter: sepia(100%);
}
#skillset .section-body {
    padding-left: 50px;
}
#about strong {
    color: #dadada;
    -webkit-transition: 1s;
    transition: 1s;
}
#about .section-body {
    font-size: 23px;
    margin-right: 120px;
}
